<div class="homepage">
    <header class="main">
        <div class="welcome-text">
            <h1>
                <span>Wiki Doc</span>
            </h1>
            <a [routerLink]="['../documentation']">
                <h2>
                    <button pButton type="button" pRipple label="Get Started" class="p-button-sm"></button>
                </h2>
            </a>
        </div>
    </header>
    <div class="learn">
        <div class="heading">Learn</div>
        <div class="content">
            <p-card [style]="{'width': '25rem'}" header="HTML">
                <ng-template pTemplate="header" >
                </ng-template>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iste inventore sunt reiciendis saepe aliquam architecto, aliquid quidem aspernatur quas, enim sequi odit veritatis aut ea nemo placeat velit earum, totam vel recusandae illo maiores id? Fugit deserunt aspernatur dolore debitis sunt quas incidunt quidem totam vitae. Repudiandae, maiores? Ducimus!
                <ng-template pTemplate="footer">
                    <button pButton type="button" pRipple label="Learn Now" class="p-button-sm"></button>
                </ng-template>
            </p-card>
            <p-card [style]="{'width': '25rem'}" header="CSS">
                <ng-template pTemplate="header" >
                </ng-template>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iste inventore sunt reiciendis saepe aliquam architecto, aliquid quidem aspernatur quas, enim sequi odit veritatis aut ea nemo placeat velit earum, totam vel recusandae illo maiores id? Fugit deserunt aspernatur dolore debitis sunt quas incidunt quidem totam vitae. Repudiandae, maiores? Ducimus!
                <ng-template pTemplate="footer">
                    <button pButton type="button" pRipple label="Learn Now" class="p-button-sm"></button>
                </ng-template>
            </p-card>
            <p-card [style]="{'width': '25rem'}" header="JavaScript">
                <ng-template pTemplate="header" >
                </ng-template>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iste inventore sunt reiciendis saepe aliquam architecto, aliquid quidem aspernatur quas, enim sequi odit veritatis aut ea nemo placeat velit earum, totam vel recusandae illo maiores id? Fugit deserunt aspernatur dolore debitis sunt quas incidunt quidem totam vitae. Repudiandae, maiores? Ducimus!
                <ng-template pTemplate="footer">
                    <button pButton pRipple type="button" label="Learn Now" class="p-button-sm"></button>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="career">
        <header>
            <div class="main">Kickstart your career</div>
            <div class="sub">Get certified by completing a course</div>
            <button class="btn">Learn More</button>
            
        </header>
    </div>
</div>