
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
    margin-right: 10px;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}
.search{
    display: inline-block;
    margin: 7px;
}
::ng-deep .p-button.p-button-icon-only.p-button-rounded{
    width: 2rem;
    height: 2rem;
}