<div class="navbar">
    <div class="topnav">
        <a class="active" href="../">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <div class="search">
              <button pButton type="button" class="p-button-raised p-button-sm p-button-rounded 
             " icon="pi pi-search" ></button>
            </div>
            
          </form>
        </div>
      </div>
</div>