
ol 
  li 
    h3 What is HTML?

    p. 
      HTML stands for Hyper Text Markup Language. It is a language of World Wide Web. It is a standard text formatting language which is used to create and display pages on the Web. It makes the text more interactive and dynamic. It can turn text into images, tables, links
  li 
    h3 What are Tags?
    p.
      HTML tags are composed of three things: an opening tag, content and ending tag.
      Some tags are unclosed tags.HTML documents contain two things: 
      
      ul 
        li content
        li tags
  li 
    h3 What is difference between HTML and XHTML?
    p.
      The Extensible Hypertext Markup Language, or XHTML, has two important notes for front end developers.

      1) It needs to be well formed, meaning all elements need to be closed and nested correctly or you will return errors.
      2) Since it is more strict than HTML is requires less pre-processing by the browser, which may improve your sites performance.  
  li 
    h3 Explain the difference between block elements and inline elements?

    p. 
      block elements `<h1>, <p>, <ul>, <ol>, <li>`,
      inline elements `<span>, <a>, <strong>, <i>, <img>`
