<div class="about-us">
    <div class="cover">
        <div class="about">
            <div class="heading">
                <span class="main">WikiDoc</span><br>
                <span class="sub">Building For the Future</span>
            </div>
            
            <div class="contr">
                <div>Contributors</div>
                <p-card [style]="{'width': '25rem'}" header="Vaishnav.V">
                    <ng-template pTemplate="header" >
                    </ng-template>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iste inventore sunt reiciendis saepe aliquam architecto, aliquid quidem aspernatur quas, enim sequi odit veritatis aut ea nemo placeat velit earum, totam vel recusandae illo maiores id? Fugit deserunt aspernatur dolore debitis sunt quas incidunt quidem totam vitae. Repudiandae, maiores? Ducimus!
                    <ng-template pTemplate="footer">
                        
                    </ng-template>
                </p-card>
                <p-card [style]="{'width': '25rem'}" header="Joseph">
                    <ng-template pTemplate="header">
                    </ng-template>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iste inventore sunt reiciendis saepe aliquam architecto, aliquid quidem aspernatur quas, enim sequi odit veritatis aut ea nemo placeat velit earum, totam vel recusandae illo maiores id? Fugit deserunt aspernatur dolore debitis sunt quas incidunt quidem totam vitae. Repudiandae, maiores? Ducimus!
                    <ng-template pTemplate="footer">
                        
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>
