 <div class="add-content">
    <div class="add-article"> 
        <!-- <form action="new/article" method="post">
            <h2>Add New Article</h2>
            <div class="article-name">
                Article Name
                <input type="text" pInputText />
            </div>
            <div class="article-content">
                Content
                <textarea pInputTextarea></textarea>
            </div>
        </form> -->
        
         <form [formGroup]="addArticleForm"  (ngSubmit)="onSubmit()">
            <label>Article Title</label><br>
            <input type="text" id="articleTitle" formControlName="articleName" pInputText >
            <div *ngIf="articleTitle?.invalid && (articleTitle?.touched || articleTitle?.dirty)">
                <small  *ngIf="articleTitle?.errors?.['required']">
                    Title Is Required
                </small>
            </div><br>
            <label>Content</label><br>
            <textarea  formControlName="content" pInputTextarea>

            </textarea>
            <div *ngIf="content?.invalid && (content?.touched || content?.dirty)">
                <small  *ngIf="content?.errors?.['required']">
                    Content Is Required
                </small>
            </div>
            <div class="submit">
                <input type="submit" value="submit">
            </div>
           
        </form>
    </div>
</div>