/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('http://css.wikidot.com/cssnippet:better-code-blocks/code_');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
pre code {
    background: black;
    color: whitesmoke;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    /* overflow-x: scroll; */
    display: block;
    max-width: 100%;
    min-width: 100px;
    font-size: 16px;
    padding: 15px 20px 12px 22px;
    line-height: 1.75;
    border-radius: 8px;
}
