<div class="add-content">
    <div class="add-article">
        <form [formGroup]="addArticleForm" (ngSubmit)="onSubmit()">

            <label>Article Title</label><br>
            <input type="text" id="articleTitle" formControlName="articleName" pInputText>
            <div *ngIf="articleTitle?.invalid && (articleTitle?.touched || articleTitle?.dirty)">
                <small *ngIf="articleTitle?.errors?.['required']">
                    Title Is Required
                </small>
            </div><br>
            <label>Content</label><br>
            <textarea formControlName="content" pInputTextarea>

            </textarea>
            <div *ngIf="content?.invalid && (content?.touched || content?.dirty)">
                <small *ngIf="content?.errors?.['required']">
                    Content Is Required
                </small>
            </div>
            <div class="submit">
                <input type="submit" value="submit">
            </div>

        </form>

        <div class="render">
            <div class="content">
                <div class="content-header">
                    {{renderHeading}}
                </div>
                <div class="content-middle">
                    {{renderContent}}
                </div>
            </div>
        </div>
    </div>
</div>